.product-card {
    width: 350px;
    height: 300px;
    transition: transform .5s; 

    &-image {
        width: 100px; 
        height: 100px;
    }

    &:hover {
        transform: scale(1.1);
        z-index: 1;
    }
}