<div class="card text-center product-card m-1 shadow pt-2 rounded">
    <div *ngIf="isAdmin" class="text-right mr-3">
        <button
            class="btn p-0 m-0"
            (click)="openModal()">
            <fa-icon [icon]="faEdit"></fa-icon>
        </button>
        <button 
            class="btn"
            (click)="onDelete()">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>
    </div>
    <img
        [ngClass]="{ 'pt-2': !isAdmin }"
        class="card-img-top product-card-image mx-auto"
        src="{{ singleProduct.image }}" 
        alt="product-image"/>
    <div class="card-body pt-2 overflow-auto">
        <h2 class="card-title">{{ singleProduct.name }}</h2>
        <p class="card-text">{{ singleProduct.description }}</p>
        <p>{{ singleProduct.prices[defaultPrice].value }} zł</p>
    </div>
</div>