<div class="card text-center product-card m-1 shadow pt-1">
    <div *ngIf="isAdmin" class="text-right mr-3">
        <button 
            class="btn"
            (click)="openModal('edit')">
            <fa-icon [icon]="faEdit"></fa-icon>
        </button>
        <button class="btn">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>
    </div>
    <img class="card-img-top product-card-image mx-auto pt-2"
        src="{{ singleProduct.image }}" 
        alt="product-image"/>
    <div class="card-body pt-2 overflow-auto">
        <h2 class="card-title">{{ singleProduct.name }}</h2>
        <p class="card-text">{{ singleProduct.description }}</p>
        <p>{{ singleProduct.prices[defaultPrice] }} zł</p>
    </div>
</div>