@import "../node_modules/angular-notifier/styles.scss";

body {
    font-family: 'Helvetica', 'Arial', sans-serif !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(202, 197, 197);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(148, 144, 144);
}