@import "../node_modules/angular-notifier/styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

body {
    font-family: 'Exo 2', 'Arial', sans-serif !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(230, 224, 224);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(148, 144, 144);
}